
<div class="menu-container">

    <h1>Médicos</h1>
    
    <a href="{{url_for('admi_medi')}}" class="btn">Administración Médicos</a>

    <a href="{{url_for('actu_medi')}}" class="btn">Actualizar Medicos</a>

    <a href="{{url_for('cons_cita')}}" class="btn">Consultar Citas</a>

    <a href="{{url_for('cons_paci')}}" class="btn">Consultar Paciente</a>

    <a href="{{url_for('cons_medi')}}" class="btn">Citas Medicos</a>

    <a href="{{url_for('regi_expl')}}" class="btn">Registrar Exploracion</a>
    
    <a href="{{url_for('regi_paci')}}" class="btn">Registrar Paciente</a>


  </div>