
<head>
    <link rel="stylesheet" type="text/css" href="../static/menu.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.20/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<div class="menu" >
    <h2>Centro Medicos</h2>
    <nav>
        <ul>
            <li><a href="/admi_medi"><i class="material-icons">supervisor_account</i></a></li>
            <li><a href="/regi_expl"><i class="material-icons">person_add_alt</i></a></li>  
            <li><a href="/busc_medi"><i class="material-icons">update</i></a></li> 
            <li><a href="/cons_cita"><i class="material-icons">search</i></a></li> 
            <li><a href="/cerrar"><i class="material-icons">exit_to_app</i></a></li>

        </ul>
    </nav>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.20/dist/sweetalert2.all.min.js"></script>

